<div class="modal fade" id="press_to_talk_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Select Local Microphone</h5>
			</div>
			<div class="modal-body">
				Select Local Microphone
				<select class="form-control" id="user_microphone_select">
					<option selected disabled>Track Type</option>
					<option value="1">80s Song</option>
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" id="select_local_microphone_btn" class="btn btn-dark">Select Microphone</button>
			</div>
		</div>
	</div>
</div>
