<!-- Enter Radio Player Modal -->
<div class="modal fade" id="enter_radio_playout_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Radio Playout</h5>
			</div>
			<div class="modal-body">
				You have no upcoming shows.
			</div>
			<div class="modal-footer">
				<button type="button" id="enter_radio_playout_button" class="btn btn-dark">Enter Radio Playout</button>
			</div>
		</div>
	</div>
</div>
