
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
	<script src="~/Scripts/Custom/schedule_clocks.js"></script>
}

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-4">
			<!--Area for selecting the Schedule Clock-->
			<div class="row">
				<div class="col-12">
					<div class="card h-100">
						<div class="card-header bg-dark text-white">Clock Information</div>
						<div class="card-body pl-4 pr-4 pt-2">
							<form method="post" id="schedule_clock_form">
								<div class="form-group">
									<label for="schedule_clock_name_Ref">Clock Name</label>
									<input type="text" class="form-control" id="schedule_clock_name_Ref" name="schedule_clock_name_Ref" />
								</div>
								<div class="form-group">
									<label for="schedule_clock_duration">Clock Average Duration</label>
									<input type="text" class="form-control" id="schedule_clock_duration" name="schedule_clock_duration" value="00:00:00" readonly />
								</div>
								<input type="submit" value="Save Clock" class="btn btn-success mt-1" />
								<div class="text-success" id="schedule_clock_form_success"></div>
								<div class="text-danger" id="schedule_clock_form_error"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card h-100">
						<div class="card-header bg-dark text-white">Current Clocks</div>
						<div class="card-body pl-4 pr-4 pt-2">
							<ul class="list-group list-group-flush">
								<li class="list-group-item pointer no_select">Clock 1</li>
								<li class="list-group-item pointer no_select">Clock 2</li>
								<li class="list-group-item pointer no_select">Clock 3</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-5">
			<!--Area for creating a new schedule clock-->
			<div class="card h-100">
				<div class="card-header bg-dark text-white">
					Create Schedule Clock
				</div>
				<div class="card-body p-0" id="schedule_clock_outer">
				</div>
			</div>
		</div>
		<div class="col-3">
			<!--Area for selecting the new schedule clock items-->
			<div class="card h-100">
				<div class="card-header bg-dark text-white">Schedule Clock Items</div>
				<div class="card-body p-0" id="schedule_audio_items_outer" data-url-get="@Url.Action("GetAudioType")">
				</div>
			</div>
		</div>
	</div>
</div>