<!-- Edit AudioItem Modal -->
<div class="modal fade" id="audio_items_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Audio Item</h5>
			</div>
			<div class="modal-body">
				<form method="POST" id="">
					<div class="form-row">
						<div class="col-6">
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control" name="artistName" placeholder="Artist Name">
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control" name="artistName" placeholder="Audio Title">
								</div>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-6">
							<div class="">Time Selection</div>
							<div class="form-group">
								<select name="audioType" class="form-control">
									<option selected disabled>Track Type</option>
									<option value="1">Song</option>
									<option value="2">Jingle</option>
									<option value="3">Bed</option>
									<option value="4">FX</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="">Select Years</div>
							<div class="form-group">
								<select name="audioType" class="form-control">
									<option selected disabled>Release Year</option>
									<option value="60">60s</option>
									<option value="70">70s</option>
									<option value="80">80s</option>
									<option value="90">90s</option>
									<option value="00">00s</option>
									<option value="10">10s</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-6">
							<div>Upload Audio File</div>
							<input type="file" />
						</div>
						<div class="col-6">
							<div class="form-row">
								<div class="col-4">
									<div>Track In</div>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fas fa-angle-double-left"></i></div>
										</div>
										<input type="text" class="form-control" name="artistName" placeholder="Audio Title">
									</div>
								</div>
								<div class="col-4">
									<div>Track Out</div>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fas fa-angle-double-right"></i></div>
										</div>
										<input type="text" class="form-control" name="artistName" placeholder="Audio Title">
									</div>
								</div>
								<div class="col-4">
									<div>Track Duration</div>
									<input type="text" class="form-control" name="audioDuration" id="audioDuration" placeholder="00:00" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<div id="waveform"></div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<div class="col-6 d-flex justify-content-start">
					<i class="fas fa-pause pointer" id="audio_modal_pause"></i>
					<i class="fas fa-play ml-2 pointer" id="audio_modal_play"></i>
				</div>
				<div class="col-6 d-flex justify-content-end">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<input type="submit" id="filter_music_library_submit_btn" class="btn btn-dark ml-1" value="Filter Search">
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

