@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="ml-2 mr-2">
	<div class="row no-gutters mt-sm-3 mt-md-4 justify-content-center">
		<div class="ml-1 mr-1 ml-lg-0 bg-success stationInfoCard"></div>
		<div class="ml-1 mr-1 bg-danger stationInfoCard"></div>
		<div class="ml-1 mr-1 bg-info stationInfoCard"></div>
		<div class="ml-1 mr-1 mr-lg-0 bg-warning stationInfoCard"></div>
	</div>
	<div class="row no-gutters mt-sm-3 mt-lg-4 justify-content-center">
		<div class="col-lg-5 mt-2 mt-sm-0 stationInfoLongCard stationNewsCard">
			<div class="card h-100">
				<div class="card-header bg-dark text-light">
					Station News
				</div>
				<div class="card-body p-0 pre-scrollable">
					<div class="card">
						<div class="card-body p-0 pl-2">
							<blockquote class="blockquote mb-0 stationNewsCardHeadline">
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer class="blockquote-footer stationNewsCardAuthor">Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
					<div class="card">
						<div class="card-body p-0 pl-2">
							<blockquote class="blockquote mb-0 stationNewsCardHeadline">
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer class="blockquote-footer stationNewsCardAuthor">Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
					<div class="card">
						<div class="card-body p-0 pl-2">
							<blockquote class="blockquote mb-0 stationNewsCardHeadline">
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer class="blockquote-footer stationNewsCardAuthor">Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
					<div class="card">
						<div class="card-body p-0 pl-2">
							<blockquote class="blockquote mb-0 stationNewsCardHeadline">
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer class="blockquote-footer stationNewsCardAuthor">Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
					<div class="card">
						<div class="card-body p-0 pl-2">
							<blockquote class="blockquote mb-0 stationNewsCardHeadline">
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer class="blockquote-footer stationNewsCardAuthor">Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 mt-2 mt-sm-0 stationInfoLongCard stationTrafficCard">
			<div class="card h-100">
				<div class="card-header bg-dark text-light">
					Local Traffic
				</div>
				<div class="card-body">

				</div>
			</div>
		</div>
		<div class="col-lg-3 mt-2 mt-sm-0 stationInfoLongCard stationWeatherCard">
			<div class="card h-100">
				<div class="card-header bg-dark text-light">
					Local Weather
				</div>
				<div class="card-body p-0">
					<div class="card weatherContentCards">
						<ul class="list-group list-group-flush" id="weatherContentList"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>